# Assets
*.obj
*.mtl
*.bin
*.binary
*.ply
*.png
*.jpg
*.jpeg
*.tif
*.tiff
*.bsdf
*.out
*.zip
*.bsdf
LiDAR_BRDF/Assets/Scene/*
LiDAR_BRDF/Assets/BRDF/*
LiDAR_BRDF/Settings/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio	
.vs/*
x64/*
LiDAR_BRDF/x64/*
